extends layout.pug
block content
    title Error // Error Code
    h2 Error// Error Code

    p Sorry, There was an error handling your request. Details as follows:
    p #{err}
    p
        a(href="/") Return Home