if(errors)
    h2.error Oops, an error!.
    ul
        each err in errors
            li.error
                =err.message
        if errors == `Error: That book doesn't exist`
            p !{errors}
    p
        a(href="/") Return Home